.wrapper.flex.row.btw.grow-2
  %main.sixty.flex.col.grow
    %h3.small.poppins.upcase About Me
    %p.mid.reading.gimme-height As a design leader, I am a firm believer that products are made in collaboration with every department, only as a team can we make an amazing product. As an individual contributor, I am consistently delivering high-quality user experiences in fast-paced and demanding situations ever since I graduated from MICA's MFA design program in 2015.
    %p.mid.reading.gimme-space.gimme-height Other than designing, I am an avid learner, I believe that there is always more to learn. I am always experimenting, more particularly with type and lettering; which was my first love in design. I use books to constantly expand knowledge. I dabble in illustration, as well; my muse is my wonderful Bombay cat, Vanta.
  %aside.forty.flex.col.grow
    %figure.zero.gimme-space.round-corners
      = image_tag 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/iris.png', class: 'fill box-shadow round-corners'
    %h3.small.poppins.upcase Recognition &amp; Accolades
    %ul.small.poppins.upcase.gimme-less-space.zero
      %li Spoke at Type Brigade 32, 2016
      %li Communication Art Typographic Annual, 2015
      %li Featured in Women of Graphic Design, 2015
      %li Featured in The Daily Type, 2015
      %li Featured in Graphic Design the New Basics, 2015
