.wrapper.flex.col.grow-2
  .section
    %h3.small.poppins.upcase Drop A Line
  .section.col-row.flex.btw.fill
    %p.big.display.a-start.half-w-space-no-full.less-space-bottom Let's work together. Email me for general inquires or just to <a class="bold underline link-hover" href="mailto:irissprague@gmail.com">say hello.</a>
    %figure.zero.less-space-bottom.bear-pic.a-center.fill
      = image_tag 'https://media.giphy.com/media/IThjAlJnD9WNO/giphy.gif', class: 'fill round-corners box-shadow'
