= render 'layouts/portfolio_page',
    page: @page,
    carousel_images: ['https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer-iphone-1.gif', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer-iphone-2.gif', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer%201.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer%202.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer%203.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer%204.png'],
    secondary_image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer-illo.png',
    top_paragraphs: ['Kustomer is a modern CRM platform for SMB customers for enterprise companies. When I was at Kustomer, I was most proud of building and implementing the Engineering/Design process and building out a scaleable design system.', 'Working cross functionally is an art. My philosophy was to bring the developers in early and often. I would create feature briefs that included feature overview, competitive analysis, KPI’s, possible UX issues, and possible technical limitations. I would bring two developers in to talk through the technical limitations and then whiteboard possible solutions. You can read more about my process in my article, <a class="link-hover underline" href="https://uxplanet.org/ux-team-of-one-building-relationships-with-other-departments-to-ensure-your-success-105cce510d15">UX team of One: Building relationships with other departments to ensure your success.</a>'],
    bottom_paragraphs: [],
    after: {name: 'Rope Type Foundry', link: rope_path, image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope-1.png'},
    prev: {name: 'Pathgather', link: pathgather_path, image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/macbook-discover-homepage.gif'},
    other_projects: [{ name: 'Personal Work',
       description: 'Lorem Ipsum',
       img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/personal-1.png',
       path: personal_path },
     { name: 'Lettering',
       description: 'Lorem Ipsum',
       img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/lettering-1.png',
       path: lettering_path },
     { name: 'Illustrations',
       description: 'Lorem Ipsum',
       img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/illo-1.png',
       path: illustrations_path }]
