= render 'layouts/portfolio_page',
    page: 'rope type foundry',
    carousel_images: ['https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope/24_img_gallery_rope.com.gif', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope-1.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope-2.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope-3.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope%204.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope%205.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope%207.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope/71_img_gallery_theo.gif', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope%208.png', 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope/rope%209.png'],
    secondary_image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/rope/2_ropeexhibtionvideo_compressed.mp4',
    top_paragraphs: ['Rope Type Foundry was a conceptual type foundry created by Iris Sprague and Shiva Nallaperumal as their thesis project in GDMFA program at Maryland Institute College of Arts. Shiva worked primarly on typographic expeirments. I focused Theo, a typeface super family that binds four different type classfications under one skeleton. For this project, I created four typefaces: Antiqua,Neo-Grotesk, Humanist, and Italian. Each typeface came in four weigths Light, Regular, Semi-Bold, and Bold. There were italics/oblique counter parts for the regular weights of Antiqua, Neo-Grotesk, and Humanist typefaces.'],
    bottom_paragraphs: ['Theo was designed for publication use. The skeleton has a high x-height and a narrow build. I picked these antiqua, humanist, and neo-grotesk so users can have a variety of text options and Italian was made for display purposes.'],
    after: {name: 'Personal Work', link: personal_path, image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/personal-1.png'},
    prev: {name: 'Kustomer', link: kustomer_path, image: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/kustomer-iphone-1.gif'},
    other_projects: [name: 'Type & Lettering',
      description: 'Lorem Ipsum',
      img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/lettering-1.png',
      path: lettering_path },
     { name: 'Illustrations',
       description: 'Lorem Ipsum',
       img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/illo-1.png',
       path: illustrations_path },
     { name: 'Pathgather',
       description: 'Lorem Ipsum',
       img: 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/macbook-discover-homepage.gif',
       path: pathgather_path }]
