.wrapper.flex.col.around
  .section.less-space-bottom.current
    %h3.small.poppins.upcase What I&rsquo;m Doing
    .flex.col-row.btw.mobile-col-rev
      .gimme-height.btw.mobile-gimme-less-space.half-w-space-no-full
        %p.display.big.line-44 Pathgather is a learning platform for enterprise companies. I redesigned their entire platform, end-to-end.
        .gimme-space
          %p.poppins.small.upcase Roles:
          .non-mobile
            %p.poppins.small.upcase.zero Product Manager, UX Designer, UX Researcher,
            %p.poppins.small.upcase.zero UI Designer, and Brand Designer.
          .mobile-only
            %p.poppins.small.upcase.zero Product Manager, UX Designer, UX Researcher, UI Designer, and Brand Designer.
        %p.gimme-space
          = link_to 'See Pathgather Work', pathgather_path, class: 'bold underline link-hover'
      .section.half-w-space.full-size-mobile
        = render 'layouts/grid_item', item: @current_item, size: 'a-center-mobile', fill: false
  .section.less-space-bottom
    %h3.small.poppins.upcase What I&rsquo;ve Done
    .first-row.flex.col-row.btw.gimme-space
      - @first_row_items.each do |item|
        = render 'layouts/grid_item', item: item, size: 'half-w-space a-center-mobile', fill: true
    .second-row.desktop-gimme-space.flex.col-row.btw
      - @second_row_items.each do |item|
        = render 'layouts/grid_item', item: item, size: 'third-w-space a-center-mobile', fill: true
