%footer
  %hr
  .footer.poppins.upcase.small.shift
    .social-links
      .hover-container
        = link_to "Contact", contact_path, class: 'borders'
      .hover-container
        = link_to "LinkedIn", "https://linkedin.com/in/irissprague", class: 'borders', target: '_blank'
      .hover-container
        = link_to "Dribbble", "https://dribbble.com/irissprague1", class: 'borders', target: '_blank'
