%footer
  %hr.gimme-more-space
  .footer.poppins.upcase.small.shift
    .social-links
      .hover-container
        = link_to "Contact", contact_path, class: 'borders'
      .hover-container
        = link_to "LinkedIn", "https://linkedin.com/in/irissprague", class: 'borders', target: '_blank'
      .hover-container
        = link_to "Instagram", "https://instagram.com/irissprague", class: 'borders', target: '_blank'
