%nav.flex.row.btw.poppins.small.upcase.shift
  .name.grow
    .hover-container{ class: ('active' if page.downcase == 'home') }
      = link_to "Iris Sprague", root_path, class: 'borders'


  .nav-links.flex.row.btw.grow
    - %w(Work About Store Contact).each do |title|
      .hover-container{ class: ('active' if page.downcase == title.downcase) }
        = link_to title, { controller: 'pages', action: title.downcase }, class: 'borders'
